<p id="notice"><%= notice %></p>

<h1>Evs</h1>

<table>
  <thead>
    <tr>
      <th>Eng</th>
      <th>Vni</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evs.each do |ev| %>
      <tr>
        <td><%= ev.eng %></td>
        <td><%= ev.vni %></td>
        <td><%= link_to 'Show', ev %></td>
        <td><%= link_to 'Edit', edit_ev_path(ev) %></td>
        <td><%= link_to 'Destroy', ev, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ev', new_ev_path %>
