<p id="notice"><%= notice %></p>

<p>
  <strong>Eng:</strong>
  <%= @ev.eng %>
</p>

<p>
  <strong>Vni:</strong>
  <%= @ev.vni %>
</p>

<%= link_to 'Edit', edit_ev_path(@ev) %> |
<%= link_to 'Back', evs_path %>
